# Build
bin/
build/
dist/
*.spec

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
*.egg

# Kivy
*.kv~

# Android
*.apk
*.aab

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
